<div class="w-96 p-8">
  <div class="flex flex-col gap-4">
    <h1 class="text-2xl text-center">TO DO LIST</h1>

    <div>{{ totalCompleted() }} completed | {{ totalTodos() }} todos</div>

    <!--Form-->
    <input
      type="text"
      class="input input-bordered"
      #inputRef
      (keydown.enter)="addTodo(inputRef)"
      placeholder="add todo"
    />

    <!--List-->
    <ul>
      @for (todo of todos(); track todo.id) {
      <li class="flex justify-between">
        <div class="flex gap-3">
          <input
            type="checkbox"
            [checked]="todo.completed"
            (change)="toggleTodo(todo)"
          />
          <span [ngClass]="{ 'line-through': todo.completed }" class="p-2">
            {{ todo.title }}
          </span>
        </div>
        <button (click)="removeTodo(todo)">❌</button>
      </li>
      }
    </ul>
  </div>
</div>
